@import "colors";

.header {

    .header__cont-title {
        background: $color-primary;
        padding: .5rem;
        border-bottom: 2px solid $color-black;
        box-shadow: 2px 1px .45rem $color-black;
    
        .header__cont-h1 {
            text-align: center;
            letter-spacing: .6px;
        }
    }

    .header__cont-logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 1.4rem;

        .header__cont-logo {
            margin: 1rem 3rem;
            width: 120px;
            filter: drop-shadow(10px 5px 5px $color-pink);
            transition: transform 0.3 ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
