@import "colors";

.todolist__cont-extends {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid $color-black;
  margin: 0 1.4rem;
  padding: 2.5rem;
  background: $color-primary;
  max-height: 170px;
}

.section__ToDoList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;

  .ToDoList__cont-1 {
    @extend .todolist__cont-extends;

    h3 {
        margin-top: 0;
        color: $color-black;
        font-size: 1.4em;
        font-weight: 900;
    }

    .ToDoList__cont-1__form {
        display: flex;
        flex-direction: column;
        align-items: end;

        .cont-1__form-div {
            margin: .4rem;

            input[type="text"] {
                margin: 0 .4rem;
                border: 1px solid $color-black;
                border-radius: .3rem;
                padding: .3rem 1.2rem;
                outline: none;
            }
            input[type="submit"] {
                margin: 0 .4rem;
                border: 1px solid $color-pink;
                border-radius: .3rem;
                margin-top: .7rem;
                padding: .3rem 2.3rem;
                background: $color-pink;
                font-weight: bold;
                color: $color-white;
                font-size: 1.1em;

                &:hover {
                    cursor: pointer;
                }
                &:focus {
                    outline: none;
                }
                &:active {
                    transform: scale(.96);
                    outline: none;
                }
            }
        }
    }
  }

  .ToDoList__cont-2 {
    @extend .todolist__cont-extends;
    overflow-y: auto;
    overflow-x: none;
    align-items: flex-start;

    .ToDoList__cont-2__tareas:nth-child(1) {
      margin-top: 0;
    }

    .ToDoList__cont-2__tareas {
      border: 2px solid $color-black;
      margin: .8rem 0;
      border-radius: .5rem;
      width: 70%;
      display: grid;
      grid-template-columns: 1fr;
      padding: 1.5rem;

      span {
        margin: .4rem 0;

        strong {
          font-size: 1.16em;
        }
      }

      .cont-2__tarea-nombre {
        color: $color-pink;
        font-size: 1.7em;
        font-weight: bold;
      }

      .cont-2__tarea-status {
        font-weight: bold;
        justify-self: end;
        background: $color-primary;
        border-radius: .3rem;
        cursor: pointer;
        margin-top: .9rem;
        padding: .3rem 1.2rem;

        &:active {
          transform: scale(.93);
        }
      }

      .activa {
        color: $color-green;
        border: 1px solid $color-green;
      }
      
      .inactiva {
        color: $color-red;
        border: 1px solid $color-red;
      }
    }
    
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: $color-black;
    }
    
    &::-webkit-scrollbar-thumb {
      background: $color-pink;
    }

  }
}
